# types
types-paramiko==3.2.0.0
types-protobuf==4.23.0.1
types-PyYAML==6.0.12.10
types-requests==2.31.0.1
types-simplejson==3.19.0.1
types-urllib3==1.26.25.13
typing_extensions==4.6.3
types-pytz==2023.3.0.0
types-setuptools==68.0.0.0
# others
pytest == 7.4.0
pytest-xdist==3.3.1
pytest-cov==4.1.0
ruff == 0.1.15
mypy == 1.5.1
mypy-extensions==1.0.0
click == 8.0.0
# coverage == 6.4
debugpy == 1.6.6
grpcio-testing==1.56.0
